<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Move in date:</strong>
  <%= @tenant.move_in_date %>
</p>

<p>
  <strong>Move out date:</strong>
  <%= @tenant.move_out_date %>
</p>

<p>
  <strong>Property:</strong>
  <%= @tenant.property_id %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
