<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tenant.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tenant.end_date %>
</p>

<p>
  <strong>Property:</strong>
  <%= @tenant.property_id %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
