<%= form_with(model: property, local: false) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :abbreviation, class: "small mb-1" %>
    <%= form.text_field :abbreviation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "small mb-1" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', properties_path, class: "btn btn-secondary ms-1" %>
  </div>
<% end %>
