<%= form_with(model: property, local: false) do |form| %>
  <!-- Container for errors -->
  <% if property.id.nil? %>
    <div id="errors-container-property-new"></div>
  <% else %>
    <div id="errors-container-property-<%= property.id %>"></div>
  <% end %>

  <div class="mb-3">
    <%= form.label :abbreviation, class: "small mb-1" %>
    <%= form.text_field :abbreviation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "small mb-1" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>

    <!-- Cancel button: discards data, collapses accordion.
    Different data-bs-target for new vs edit form. -->
    <% if property.id.nil? %>
      <%= button_tag "Cancel", type: :reset, class: "btn btn-secondary ms-1", "data-bs-toggle": "collapse", "data-bs-target": "#collapse-property-new", "aria-expanded": "false", "aria-controls": "collapse-property-new", onclick: "$('#errors-container-property-new').empty()" %>
    <% else %>
      <%= button_tag "Cancel", type: :reset, class: "btn btn-secondary ms-1", "data-bs-toggle": "collapse", "data-bs-target": "#collapse-property-#{property.id}", "aria-expanded": "false", "aria-controls": "collapse-property-#{property.id}", onclick: "$('#errors-container-property-#{property.id}').empty()" %>
    <% end %>
  </div>
<% end %>
