<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @bill.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bill.end_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Property:</strong>
  <%= @bill.property_id %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
